<% data1.forEach(function( eachPerson){ %>
<tr>
    <td style="text-align: center;"> <%= eachPerson._id %> </td>
    <td style="text-align: center;"> <%= eachPerson.name %> </td>
    <td style="text-align: center;"> <%= eachPerson.surname %> </td>
    <td style="text-align: center;"> <%= eachPerson.email %> </td>
    <td style="text-align: center;"> <%= eachPerson.age %> </td>
    <td style="text-align: center;">
        <form action="/delete?id=<%= eachPerson._id %>" method="post"><input type="submit" value="Delete">
        </form>
    </td>
    <td style="text-align: center;">
        <form action="/updateData?id=<%= eachPerson._id %>" method="post"><input type="submit" onmouseover="msg()"
                value="Update">
        </form>
    </td>
</tr>

<% }) %>